.acecard-map-popup .acecard-map-popup-dark>.mapboxgl-popup-tip {
    border-top-color: #1d1e24;
  }
  .acecard-map-popup.acecard-map-popup-dark >.maplibregl-popup-content{
    background: #1d1e24;
    padding: 0px;
  }
.acecard-map-popup  > .mapboxgl-popup-content, .maplibregl-popup-content {
    background: rgba(0,0,0,0);
    padding: 0px 0px;
}
.acecard-map-popup  > .mapboxgl-popup-close-button, .maplibregl-popup-close-button {
    font-size: 20px;
    margin: 0px 3px;
}

.acecard-map-popup.acecard-map-popup-dark>.maplibregl-popup-tip {
    border-top-color: #1d1e24;
    border-bottom-color: #1d1e24;
}

.acecard-map-popup  {
        .acecard-tooltip-content div {
    max-height: 200px;
    overflow: auto;
    }

}